<footer>
  <div class="footer-content">
    <div class="region-info">
      <p>REGIÓN / IDIOMA ACTUAL</p> <br>
      <p>México / Español</p> <br>
      <h3>CONTACTO</h3> <br>
      <p>Tel: 55 1981 1268</p>
      <p>Email: porsche.Mexicogmail.com</p>
    </div>
    <div class="contact-info">
      <ul>
        <li>Empleos</li> <br>
        <li>Noticias</li> <br>
        <li>Sostenibilidad</li> <br>
        <li>Términos y condiciones</li>
      </ul>
    </div>
    <div class="social-media">
      <h3>REDES SOCIALES</h3>
      <div class="social-icons">
        <a href="#"><img src="/facebook.png" alt="Facebook" class="logo"></a>
        <a href="#"><img src="/instagram.png" alt="Instagram" class="logo"></a>
        <a href="#"><img src="/twitter.png" alt="Twitter" class="logo"></a>
        <a href="#"><img src="/Pinterest.png" alt="Pinterest" class="logo"></a>
        <a href="#"><img src="/YT.png" alt="Youtube" class="logo"></a>
      </div>
    </div>
  </div>
</footer>
