<!-- <br> <br> <br>
<div class="information">
  <div class="car">
    <img src="/ElectricMacan.png" alt="Macan eléctrico">
    <p>El nuevo Macan totalmente eléctrico.</p>
  </div>
  <div class="car">
    <img src="/911Edition50Y (1).png" alt="911 Turbo">
    <p>Porsche 911 Turbo Edition 50 Years.</p>
  </div>
  <div class="car">
    <img src="PorscheMobil1.png" alt="Mobil 1 Supercup">
    <p>Porsche Mobil 1 Supercup.</p>
  </div>
</div> <br> -->
<div class="information">
  <div *ngFor="let title of titles" class="car">
    <br> <br> <br>
    <img src="{{title.src}}" alt="{{title.alt}}">
    <p>{{title.title}}</p>
    <br> <br>
  </div>
</div>
